{{#x-modal action="close"}}
  <div class="modal-header">
    <button type="button" class="close" {{action "closeModal"}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Deck Import</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3">Contents</label>
        <div class="col-sm-9">
          {{textarea value=importContents rows="3"}}
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" {{action "closeModal"}}>Cancel</button>
    <button class="btn btn-primary" {{action "importDeck"}}>Import</button>
  </div>
{{/x-modal}}
