@import "filters";
@import "offcanvas";

.sm-display {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.indent {
  position: relative;
  &.indent-1 {
    left: 20%;
  }
  &.indent-2 {
    left: 40%;
  }
}