<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'application' class="navbar-brand"}}Webatrice{{/link-to}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'user' controllers.user.id}}Hi {{controllers.user.name}}{{/link-to}}</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container-fluid">
  {{outlet}}
</div>
