<div class="row">
  <div class="col-sm-10">
    {{#full-height class="overflow-y-scroll"}}
      {{partial "cards/table-of-cards"}}
    {{/full-height}}
  </div>
  <div class="col-sm-2">
    {{outlet}}
  </div>
</div>
