{{!--
{{#em-modal id="deckExport" fade=true title="Deck Export"}}
  {{#em-modal-title}}
    {{#em-modal-toggler class="close"}}×Close{{/em-modal-toggler}}
    <h4 class="modal-title">Deck contents</h4>
  {{/em-modal-title}}
  {{#em-body}}
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3">Deck contents</label>
        <div class="col-sm-9">
          {{textarea value=exportFormat rows=numberOfUniqueCardsInDeck}}
        </div>
      </div>
    </form>
  {{/em-body}}
{{/em-modal}}
--}}
{{outlet}}
