<div class="panel panel-primary">
  <div class="panel-heading">Sign in</div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" id="username">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <p>Or <a {{action loginAsGuest}}>continue as a guest</a></p>
  </div>
</div>